
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/.bumpver.py
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/build/lmulte.mlib
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/doc/multe-ssc.txt
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/doc/multe.sthlp
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/multe.pkg
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/README.md
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/src/ado/multe.ado
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/src/build.do
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/src/mata/multe.mata
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/src/mata/multe_helpers.mata
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/stata.toc
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/example_star.dta
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/export_latex.mata
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/output.ado
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/test.do
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/test.R
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/test_example.do
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/test_replicate.do
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/test_speed.do
code/build/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/test_unit.do
documentation/preanalysisplan_notes.aux
documentation/preanalysisplan_notes.log
documentation/preanalysisplan_notes.synctex.gz
documentation/template_Article.tex
194886-V1/.DS_Store
194886-V1/README.pdf
194886-V1/replication/.DS_Store
194886-V1/replication/ado/_gweightave.ado
194886-V1/replication/ado_add/plus/_/_eststo.ado
194886-V1/replication/ado_add/plus/_/_eststo.hlp
194886-V1/replication/ado_add/plus/a/abspath.ado
194886-V1/replication/ado_add/plus/a/abspath.sthlp
194886-V1/replication/ado_add/plus/a/appendfile.ado
194886-V1/replication/ado_add/plus/a/appendfile.hlp
194886-V1/replication/ado_add/plus/backup.trk
194886-V1/replication/ado_add/plus/c/call_return.ado
194886-V1/replication/ado_add/plus/c/causal_forest.sthlp
194886-V1/replication/ado_add/plus/c/ciplot.ado
194886-V1/replication/ado_add/plus/c/ciplot.hlp
194886-V1/replication/ado_add/plus/c/coefplot.ado
194886-V1/replication/ado_add/plus/c/coefplot.sthlp
194886-V1/replication/ado_add/plus/d/dsconcat.ado
194886-V1/replication/ado_add/plus/d/dsconcat.sthlp
194886-V1/replication/ado_add/plus/e/estadd.ado
194886-V1/replication/ado_add/plus/e/estadd.hlp
194886-V1/replication/ado_add/plus/e/estout.ado
194886-V1/replication/ado_add/plus/e/estout.hlp
194886-V1/replication/ado_add/plus/e/estpost.ado
194886-V1/replication/ado_add/plus/e/estpost.hlp
194886-V1/replication/ado_add/plus/e/eststo.ado
194886-V1/replication/ado_add/plus/e/eststo.hlp
194886-V1/replication/ado_add/plus/e/esttab.ado
194886-V1/replication/ado_add/plus/e/esttab.hlp
194886-V1/replication/ado_add/plus/g/gitget.ado
194886-V1/replication/ado_add/plus/g/gitget.dta
194886-V1/replication/ado_add/plus/g/gitget.sthlp
194886-V1/replication/ado_add/plus/g/gitgetlist.ado
194886-V1/replication/ado_add/plus/g/github.ado
194886-V1/replication/ado_add/plus/g/github.dlg
194886-V1/replication/ado_add/plus/g/github.dta
194886-V1/replication/ado_add/plus/g/github.sthlp
194886-V1/replication/ado_add/plus/g/githubcheck.ado
194886-V1/replication/ado_add/plus/g/githubcheckfilename.ado
194886-V1/replication/ado_add/plus/g/githubconfirm.ado
194886-V1/replication/ado_add/plus/g/githubdb.ado
194886-V1/replication/ado_add/plus/g/githubdependency.ado
194886-V1/replication/ado_add/plus/g/githubfiles.dta
194886-V1/replication/ado_add/plus/g/githubfindall.ado
194886-V1/replication/ado_add/plus/g/githubfindall.sthlp
194886-V1/replication/ado_add/plus/g/githubhot.ado
194886-V1/replication/ado_add/plus/g/githublistpack.ado
194886-V1/replication/ado_add/plus/g/githublistpack.sthlp
194886-V1/replication/ado_add/plus/g/githubmake.ado
194886-V1/replication/ado_add/plus/g/githuboutput.ado
194886-V1/replication/ado_add/plus/g/githubquery.ado
194886-V1/replication/ado_add/plus/g/githubsearch.ado
194886-V1/replication/ado_add/plus/g/githubsearchsteps.ado
194886-V1/replication/ado_add/plus/g/grf.ado
194886-V1/replication/ado_add/plus/g/grf.sthlp
194886-V1/replication/ado_add/plus/g/grf_ate.ado
194886-V1/replication/ado_add/plus/g/grf_ate.sthlp
194886-V1/replication/ado_add/plus/g/grf_test_calibration.ado
194886-V1/replication/ado_add/plus/g/grf_test_calibration.sthlp
194886-V1/replication/ado_add/plus/g/grf_variable_importance.ado
194886-V1/replication/ado_add/plus/g/grf_variable_importance.sthlp
194886-V1/replication/ado_add/plus/g/gsynth.ado
194886-V1/replication/ado_add/plus/g/gsynth.sthlp
194886-V1/replication/ado_add/plus/g/gsynth_plot.ado
194886-V1/replication/ado_add/plus/g/gsynth_plot.sthlp
194886-V1/replication/ado_add/plus/i/icw_index.ado
194886-V1/replication/ado_add/plus/i/icw_index.sthlp
194886-V1/replication/ado_add/plus/l/lmulte.mlib
194886-V1/replication/ado_add/plus/m/make.ado
194886-V1/replication/ado_add/plus/m/make.dlg
194886-V1/replication/ado_add/plus/m/make.sthlp
194886-V1/replication/ado_add/plus/m/makedlg.ado
194886-V1/replication/ado_add/plus/m/matconvert.ado
194886-V1/replication/ado_add/plus/m/matconvert.sthlp
194886-V1/replication/ado_add/plus/m/matexport.ado
194886-V1/replication/ado_add/plus/m/matexport.sthlp
194886-V1/replication/ado_add/plus/m/metaparm.ado
194886-V1/replication/ado_add/plus/m/metaparm.sthlp
194886-V1/replication/ado_add/plus/m/metaparm_content_opts.sthlp
194886-V1/replication/ado_add/plus/m/metaparm_outdest_opts.sthlp
194886-V1/replication/ado_add/plus/m/metaparm_resultssets.sthlp
194886-V1/replication/ado_add/plus/m/mlrtime.ado
194886-V1/replication/ado_add/plus/m/mlrtime.sthlp
194886-V1/replication/ado_add/plus/m/mlrtimesetup.ado
194886-V1/replication/ado_add/plus/m/mlrtimesetup.sthlp
194886-V1/replication/ado_add/plus/m/multe.ado
194886-V1/replication/ado_add/plus/m/multe.mata
194886-V1/replication/ado_add/plus/m/multe.sthlp
194886-V1/replication/ado_add/plus/m/multe_helpers.mata
194886-V1/replication/ado_add/plus/o/outreg2.ado
194886-V1/replication/ado_add/plus/o/outreg2.hlp
194886-V1/replication/ado_add/plus/o/outreg2.pref
194886-V1/replication/ado_add/plus/o/outreg2_prf.ado
194886-V1/replication/ado_add/plus/p/parmby.ado
194886-V1/replication/ado_add/plus/p/parmby.sthlp
194886-V1/replication/ado_add/plus/p/parmby_only_opts.sthlp
194886-V1/replication/ado_add/plus/p/parmcip.ado
194886-V1/replication/ado_add/plus/p/parmcip.sthlp
194886-V1/replication/ado_add/plus/p/parmcip_opts.sthlp
194886-V1/replication/ado_add/plus/p/parmest.ado
194886-V1/replication/ado_add/plus/p/parmest.sthlp
194886-V1/replication/ado_add/plus/p/parmest_ci_opts.sthlp
194886-V1/replication/ado_add/plus/p/parmest_outdest_opts.sthlp
194886-V1/replication/ado_add/plus/p/parmest_resultssets.sthlp
194886-V1/replication/ado_add/plus/p/parmest_varadd_opts.sthlp
194886-V1/replication/ado_add/plus/p/parmest_varmod_opts.sthlp
194886-V1/replication/ado_add/plus/p/parsnip.ado
194886-V1/replication/ado_add/plus/p/parsnip.sthlp
194886-V1/replication/ado_add/plus/q/qqvalue.ado
194886-V1/replication/ado_add/plus/q/qqvalue.sthlp
194886-V1/replication/ado_add/plus/r/r.ado
194886-V1/replication/ado_add/plus/r/ranger.sthlp
194886-V1/replication/ado_add/plus/r/rcall.ado
194886-V1/replication/ado_add/plus/r/rcall.sthlp
194886-V1/replication/ado_add/plus/r/rcall_check.ado
194886-V1/replication/ado_add/plus/r/rcall_check.sthlp
194886-V1/replication/ado_add/plus/r/rcall_counter.ado
194886-V1/replication/ado_add/plus/r/rcall_interactive.ado
194886-V1/replication/ado_add/plus/r/rcall_synchronize.ado
194886-V1/replication/ado_add/plus/r/rcallscript.ado
194886-V1/replication/ado_add/plus/r/Rhistory.do
194886-V1/replication/ado_add/plus/r/RProfile.R
194886-V1/replication/ado_add/plus/r/rprofile.site
194886-V1/replication/ado_add/plus/s/seeout.ado
194886-V1/replication/ado_add/plus/s/seeout.hlp
194886-V1/replication/ado_add/plus/s/shellout.ado
194886-V1/replication/ado_add/plus/s/shellout.hlp
194886-V1/replication/ado_add/plus/s/stata.output.r
194886-V1/replication/ado_add/plus/stata.trk
194886-V1/replication/ado_add/plus/t/texsave.ado
194886-V1/replication/ado_add/plus/t/texsave.sthlp
194886-V1/replication/ado_add/plus/v/varconvert.ado
194886-V1/replication/ado_add/plus/w/wdpermissions.ado
194886-V1/replication/do-files/.RData
194886-V1/replication/do-files/_load.matrix.X.dta
194886-V1/replication/do-files/analysis_balancecheck2.do
194886-V1/replication/do-files/analysis_takeup.do
194886-V1/replication/do-files/baseline_cleaning.do
194886-V1/replication/do-files/BRAC admin MNO merge.do
194886-V1/replication/do-files/brac_admin_cleaning.do
194886-V1/replication/do-files/causal_forest.do
194886-V1/replication/do-files/clean_mno.do
194886-V1/replication/do-files/combine_datasets.do
194886-V1/replication/do-files/endline_cleaning.do
194886-V1/replication/do-files/k-means.do
194886-V1/replication/do-files/master_edited.do
194886-V1/replication/do-files/rcall-3.1.0/_config.yml
194886-V1/replication/do-files/rcall-3.1.0/call_return.ado
194886-V1/replication/do-files/rcall-3.1.0/dependency.do
194886-V1/replication/do-files/rcall-3.1.0/Documentation/example-console.png
194886-V1/replication/do-files/rcall-3.1.0/Documentation/example-interactive.png
194886-V1/replication/do-files/rcall-3.1.0/Documentation/example-sync.png
194886-V1/replication/do-files/rcall-3.1.0/Documentation/example-vanilla.png
194886-V1/replication/do-files/rcall-3.1.0/Documentation/modes.png
194886-V1/replication/do-files/rcall-3.1.0/Documentation/Rcall copy.png
194886-V1/replication/do-files/rcall-3.1.0/Documentation/Rcall.png
194886-V1/replication/do-files/rcall-3.1.0/Documentation/rcall.viz
194886-V1/replication/do-files/rcall-3.1.0/Documentation/rcallmodes 2.0.png
194886-V1/replication/do-files/rcall-3.1.0/Documentation/rcallmodes.png
194886-V1/replication/do-files/rcall-3.1.0/Documentation/rcallmodes.svg
194886-V1/replication/do-files/rcall-3.1.0/Documentation/rcallmodes.xml
194886-V1/replication/do-files/rcall-3.1.0/Documentation/readstata13.pdf
194886-V1/replication/do-files/rcall-3.1.0/Documentation/whatfor.jpg
194886-V1/replication/do-files/rcall-3.1.0/Documentation/whatfor.png
194886-V1/replication/do-files/rcall-3.1.0/Documentation/whatforbig.png
194886-V1/replication/do-files/rcall-3.1.0/examples/_torture_test.do
194886-V1/replication/do-files/rcall-3.1.0/examples/Article Examples/article_examples.do
194886-V1/replication/do-files/rcall-3.1.0/examples/Article Examples/echo.ado
194886-V1/replication/do-files/rcall-3.1.0/examples/Article Examples/Examples_old.do
194886-V1/replication/do-files/rcall-3.1.0/examples/Article Examples/lm.ado
194886-V1/replication/do-files/rcall-3.1.0/examples/Article Examples/qplot.ado
194886-V1/replication/do-files/rcall-3.1.0/examples/Article Examples/qplot_simple.ado
194886-V1/replication/do-files/rcall-3.1.0/examples/Article Examples/rplot.ado
194886-V1/replication/do-files/rcall-3.1.0/examples/Article Examples/summary.ado
194886-V1/replication/do-files/rcall-3.1.0/examples/data/auto.dta
194886-V1/replication/do-files/rcall-3.1.0/examples/script/rscriptexample.R
194886-V1/replication/do-files/rcall-3.1.0/make.do
194886-V1/replication/do-files/rcall-3.1.0/make_R_abb.do
194886-V1/replication/do-files/rcall-3.1.0/matconvert.ado
194886-V1/replication/do-files/rcall-3.1.0/matconvert.sthlp
194886-V1/replication/do-files/rcall-3.1.0/matexport.ado
194886-V1/replication/do-files/rcall-3.1.0/matexport.sthlp
194886-V1/replication/do-files/rcall-3.1.0/R.ado
194886-V1/replication/do-files/rcall-3.1.0/rcall.ado
194886-V1/replication/do-files/rcall-3.1.0/rcall.pkg
194886-V1/replication/do-files/rcall-3.1.0/rcall.sthlp
194886-V1/replication/do-files/rcall-3.1.0/rcall_check.ado
194886-V1/replication/do-files/rcall-3.1.0/rcall_check.sthlp
194886-V1/replication/do-files/rcall-3.1.0/rcall_counter.ado
194886-V1/replication/do-files/rcall-3.1.0/rcall_interactive.ado
194886-V1/replication/do-files/rcall-3.1.0/rcall_synchronize.ado
194886-V1/replication/do-files/rcall-3.1.0/rcallscript.ado
194886-V1/replication/do-files/rcall-3.1.0/README.md
194886-V1/replication/do-files/rcall-3.1.0/rprofile.site
194886-V1/replication/do-files/rcall-3.1.0/rscriptexample.R
194886-V1/replication/do-files/rcall-3.1.0/stata.output.r
194886-V1/replication/do-files/rcall-3.1.0/stata.toc
194886-V1/replication/do-files/rcall-3.1.0/varconvert.ado
194886-V1/replication/do-files/rcall-3.1.0/vignette.do
194886-V1/replication/do-files/rcall-3.1.0/vignette.pdf
194886-V1/replication/input/BRAC admin data.dta
194886-V1/replication/input/BRAC_MM_merged.dta
194886-V1/replication/input/MM_balances.dta
194886-V1/replication/input/MM_transactions.dta
194886-V1/replication/input/MM_useage.dta
194886-V1/replication/input/survey_data.dta
194886-V1/replication/intermediate/baseline_cleaned.dta
194886-V1/replication/intermediate/baseline_disbursement_cleaned.dta
194886-V1/replication/intermediate/baseline_raw.dta
194886-V1/replication/intermediate/BRAC admin data raw.dta
194886-V1/replication/intermediate/BRAC admin data year raw.dta
194886-V1/replication/intermediate/BRMM MM records cleaned all.dta
194886-V1/replication/intermediate/BRMM MM records cleaned long.dta
194886-V1/replication/intermediate/BRMM MM records cleaned.dta
194886-V1/replication/intermediate/BRMM MM records.dta
194886-V1/replication/intermediate/disbursement_raw.dta
194886-V1/replication/intermediate/endline_cleaned.dta
194886-V1/replication/intermediate/endline_raw.dta
194886-V1/replication/intermediate/randomisation.dta
194886-V1/replication/intermediate/survey data consented.dta
194886-V1/replication/output/appendix/graphs/business_types.png
194886-V1/replication/output/appendix/graphs/CDF_capital.png
194886-V1/replication/output/appendix/graphs/CDF_earn_business.png
194886-V1/replication/output/appendix/graphs/CDF_ln_capital.png
194886-V1/replication/output/appendix/graphs/CDF_ln_earn_business.png
194886-V1/replication/output/appendix/graphs/CDF_ln_much_saved.png
194886-V1/replication/output/appendix/graphs/CDF_much_saved.png
194886-V1/replication/output/appendix/graphs/hist_disbursed.png
194886-V1/replication/output/appendix/graphs/MA_time2.png
194886-V1/replication/output/appendix/graphs/trans_type.png
194886-V1/replication/output/appendix/table_attrition.tex
194886-V1/replication/output/appendix/table_attrition2.tex
194886-V1/replication/output/appendix/table_balance.tex
194886-V1/replication/output/appendix/table_brac_admin.tex
194886-V1/replication/output/appendix/table_causal_forest.tex
194886-V1/replication/output/appendix/table_cluster_hetero.tex
194886-V1/replication/output/appendix/table_cluster_hetero.txt
194886-V1/replication/output/appendix/table_cluster_summary.tex
194886-V1/replication/output/appendix/table_hetero_capital.tex
194886-V1/replication/output/appendix/table_hetero_capital.txt
194886-V1/replication/output/appendix/table_hetero_earn_business.tex
194886-V1/replication/output/appendix/table_hetero_earn_business.txt
194886-V1/replication/output/appendix/table_hetero_much_saved.tex
194886-V1/replication/output/appendix/table_hetero_much_saved.txt
194886-V1/replication/output/appendix/table_int2_results.tex
194886-V1/replication/output/appendix/table_int3_results.tex
194886-V1/replication/output/appendix/table_int_hetero.tex
194886-V1/replication/output/appendix/table_int_summary.tex
194886-V1/replication/output/appendix/table_primary_logs.tex
194886-V1/replication/output/appendix/table_primary_perm.tex
194886-V1/replication/output/appendix/table_robust.tex
194886-V1/replication/output/appendix/table_robust_winsor.tex
194886-V1/replication/output/appendix/table_second_assets.tex
194886-V1/replication/output/appendix/table_second_bus_type.tex
194886-V1/replication/output/appendix/table_second_earnings.tex
194886-V1/replication/output/appendix/table_second_earnings.txt
194886-V1/replication/output/appendix/table_second_empower_all.tex
194886-V1/replication/output/appendix/table_second_empower_all.txt
194886-V1/replication/output/appendix/table_second_group.tex
194886-V1/replication/output/appendix/table_second_group.txt
194886-V1/replication/output/appendix/table_second_happy.tex
194886-V1/replication/output/appendix/table_second_happy.txt
194886-V1/replication/output/appendix/table_second_labour.tex
194886-V1/replication/output/appendix/table_second_profit.tex
194886-V1/replication/output/appendix/table_second_records.tex
194886-V1/replication/output/appendix/table_second_records.txt
194886-V1/replication/output/appendix/table_second_remittance.tex
194886-V1/replication/output/appendix/table_second_remittance.txt
194886-V1/replication/output/appendix/table_second_savings.tex
194886-V1/replication/output/appendix/table_spouse_present.tex
194886-V1/replication/output/appendix/table_takeup.tex
194886-V1/replication/output/appendix/table_trans_type.tex
194886-V1/replication/output/graphs/balances.png
194886-V1/replication/output/graphs/takeup.png
194886-V1/replication/output/table_hetero_index_family.tex
194886-V1/replication/output/table_primary_results.tex
194886-V1/replication/output/table_second_give_spouse.tex
194886-V1/replication/output/table_second_household.tex
194886-V1/replication/output/table_second_loan_use.tex
194886-V1/replication/output/table_subsequent.tex
194886-V1/replication/questionnaires/baseline.xlsx
194886-V1/replication/questionnaires/disbursement.xlsx
194886-V1/replication/questionnaires/endline.xlsx
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/.bumpver.py
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/build/lmulte.mlib
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/doc/multe-ssc.txt
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/doc/multe.sthlp
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/multe.pkg
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/README.md
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/src/ado/multe.ado
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/src/build.do
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/src/mata/multe.mata
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/src/mata/multe_helpers.mata
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/stata.toc
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/example_star.dta
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/export_latex.mata
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/output.ado
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/test.do
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/test.R
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/test_example.do
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/test_replicate.do
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/test_speed.do
194886-V1/replication/stata-multe-27fe818b881d4bae5b844e1e73f9eda4f4288d71/test/test_unit.do
